.house-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.window {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #270e04;
  border-radius: 5px;
}

.add-room-btn {
  box-sizing: border-box;
  font-weight: bolder;
  border-radius: 4px;
  border: none;
  color: #270e04;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  width: 90%;
  height: 90%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.day-add-room-btn {
  background-color: rgba(242, 200, 17, 0.8);
}
.night-add-room-btn {
  background-color: rgba(240, 159, 65, 0.8);
}
.add-room-btn:hover {
  background-color: rgb(191, 210, 168, 0.5);
}

.hidden {
  display: none;
}

/* Styles for desktop */
@media only screen and (min-width: 1280px) {
  .window {
    width: 13%;
    height: 18%;
  }

  #window1 {
    top: 37.5%;
    left: 32%;
  }
  #window2 {
    top: 37.5%;
    right: 32%;
  }
  #window3 {
    bottom: 23%;
    left: 32%;
  }
  #window4 {
    bottom: 23%;
    right: 32%;
  }
}
/* TABLETS */
@media only screen and (min-device-width: 500px) and (max-device-width: 1024px) and (orientation: portrait) {
  .window {
    width: 25%;
    height: 18%;
  }
  #window1 {
    top: 37%;
    left: 15%;
  }
  #window2 {
    top: 37%;
    right: 15%;
  }
  #window3 {
    bottom: 22%;
    left: 15%;
  }
  #window4 {
    bottom: 22%;
    right: 15%;
  }
}

@media only screen and (min-device-width: 1023px) and (max-device-width: 1400px) and (orientation: landscape) {
  .window {
    width: 18%;
    height: 17%;
  }
  #window1 {
    top: 38%;
    left: 25%;
  }
  #window2 {
    top: 38%;
    right: 25.5%;
  }
  #window3 {
    bottom: 23%;
    left: 25.5%;
  }
  #window4 {
    bottom: 23%;
    right: 25.5%;
  }
}

/* PHONES */

@media only screen and (min-device-width: 280px) and (max-device-width: 480px) and (orientation: portrait) {
  .window {
    width: 28%;
    height: 17%;
  }
  #window1 {
    top: 38%;
    left: 13%;
  }
  #window2 {
    top: 38%;
    right: 13%;
  }
  #window3 {
    bottom: 23%;
    left: 13%;
  }
  #window4 {
    bottom: 23%;
    right: 13%;
  }
}

/* Landscape mode */
@media only screen and (min-device-width: 481px) and (max-device-width: 1020px) and (orientation: landscape) {
  .window {
    width: 18%;
    height: 18%;
    overflow-y: auto;
  }
  #window1 {
    top: 37%;
    left: 25%;
  }
  #window2 {
    top: 37%;
    right: 25%;
  }
  #window3 {
    bottom: 22%;
    left: 25%;
  }
  #window4 {
    bottom: 22%;
    right: 25%;
  }
}
