.custom-select-container {
  margin: 10px 0;
}

select {
  text-align: left;
  font-size: 16px;
  width: auto;
  font-weight: bold;
  padding: 2px;
  color: #4ad4f7;
}

select option {
  color: rgb(243, 156, 86);
  font-size: 16px;
  font-weight: bold;
  background-color: white;
}

select option:hover {
  background-color: #4ad4f7;
}

@media (max-width: 600px) {
  select {
    width: 100%;
  }
}
