.reset-password-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 45%;
  min-height: 400px;
  background-color: rgba(243, 156, 86, 0.7);
  border: 2px solid #525252;
  border-radius: 10px;
  margin: 10px;
}

.resetpw-title {
  font-size: 22px;
  font-weight: 650;
  padding: 5px;
  text-align: center;
  color: #f39c56;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  margin: 10px 20%;
}

.resetpw-description {
  font-size: 20px;
  font-weight: 650;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: #525252;
  border: 1px solid #525252;
  border-radius: 5px;
  margin: 10px;
  min-width: 35%;
}

.resetpw-error {
  font-size: 18px;
  font-weight: 650;
  padding: 5px;
  text-align: center;
  color: #f34906;
  background-color: #525252;
  border: 1px solid #525252;
  border-radius: 5px;
  margin: 10px;
}

.resetpw-success {
  font-size: 18px;
  font-weight: 650;
  padding: 5px;
  text-align: center;
  color: #0fd89c;
  background-color: #525252;
  border: 1px solid #525252;
  border-radius: 5px;
  margin: 10px;
}

.pw-input {
  font-size: 20px;
  font-weight: 650;
  padding: 5px;
  text-align: center;
  color: #4ad4f7;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px;
  min-width: 50%;
}

.pw-input::placeholder {
  color: #4ad4f7;
}

.resetpw-row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons-pw-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 1%;
}

.button-resetpw {
  font-size: 20px;
  font-weight: 650;
  padding: 5px;
  margin: 5px 10px;
  text-align: center;
  color: white;
  background-color: #525252;
  border: 1px solid #525252;
  border-radius: 5px;
  min-width: 30%;
  cursor: pointer;
}

.button-resetpw:hover {
  background-color: #0fd89c;
  border: 1px solid #0fd89c;
}

@media screen and (max-width: 1024px) {
  .reset-password-container {
    margin: 10px 0px;
  }
  .resetpw-success,
  .resetpw-erro,
  .button-resetpw {
    font-size: 16px;
  }
  .resetpw-description {
    font-size: 16px;
    font-weight: 650;
    padding: 2px;
    min-width: 45%;
  }
  .pw-input {
    font-size: 16px;
    font-weight: 650;
    padding: 2px;
    min-width: 35%;
  }

  .resetpw-title {
    font-size: 18px;
    font-weight: 650;
    padding: 5px;
  }
}
